.box{
	padding: 15px;
	background-color: teal;
	margin-top: 10px;
	margin-bottom: 10px;
}
.my_form{
	padding: 15px;
	box-shadow: 2px 2px 8px  rgba(0,0,0,0.3);
}
.my-close{
	z-index: 999;
	position: relative;
}